:root{
    --cor--primaria: #ff0095;
    --cor--secundaria: #000000;
    --cor--destaque: #0099ff;
    --cor--fundo--destaque: #000000;
}
h1{
    color: var(--cor--primaria);
}

h2{
    color: var(--cor--secundaria);
}

p{
    color: var(--cor--destaque);
    background-color: var(--cor--secundaria);
}